body {
  font-family: Arial;
  padding: 20px;
  background: #f4f4f4;
}

h2 {
  text-align: center;
}

.form {
  margin-bottom: 20px;
  text-align: center;
}

input {
  padding: 6px;
  margin: 5px;
}

button {
  padding: 6px 10px;
  cursor: pointer;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.edit {
  background: orange;
  color: white;
}

.delete {
  background: red;
  color: white;
}
